[MAIN]
disable=line-too-long,duplicate-code

[BASIC]

# to update: add a name to this list without spaces or new lines
good-names=dG,dGs,deltaG,dG_site,dG_ref,dG_std,minus_RT,P_unocc,P_occ,total_N,RT,NB,NL,BoxArea,ExpBeadDensity,DrDtheta,sysInfo,delta_G,calculate_P_unocc,calculate_dG,deltaG_std,SiteAcrossReplicas,Site,SymmetricSite,TWO_PI
